.phe-s11 {
  background-size: cover;
  width: 100%;
}
.phe-s11 .s11-cover {
  background: rgba(0, 0, 0, 0.65);
}
.phe-s11 .s11-b1 {
  padding: 100px 0;
}
.phe-s11 .s11-b1 .b1-h2 {
  font-size: 40px;
  padding-bottom: 5px;
  width: 80%;
  margin-left: 10%;
  line-height: 1.3em;
  color: #ffffff;
}
.phe-s11 .s11-b1 .b1-h2 a {
  color: #ffffff;
}
.phe-s11 .s11-b1 .b1-h2 small {
  text-transform: uppercase;
  color: #4bb7cc;
  font-size: 16px;
}
.phe-s11 .s11-b1 .b1-p {
  color: #d0d0d0;
}
.phe-s11 .s11-b1 .b1-ul {
  padding: 10px 0;
}
.phe-s11 .s11-b1 .b1-ul .b1-li a .svg-inline--fa {
  font-size: 18px;
  color: #ffffff;
  margin: 0 5px;
}
