.sid-s16 {
  padding: 15px;
  margin-bottom: 30px;
}
.sid-s16 .s16-b1 .b1-h3 {
  font-family: 'Lato', serif;
  font-size: 18px;
  color: #181818;
  border-bottom: 1px solid #d0d0d0;
  margin: 0;
  padding-bottom: 15px;
}
.sid-s16 .s16-b2 .b2-ul .b2-li {
  padding: 10px 0;
  border-bottom: 1px dashed #d0d0d0;
}
.sid-s16 .s16-b2 .b2-ul .b2-li a {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 14px;
}
