@import "theme-light";
@import "mixins";
@import "var-profile-1";


.fot-s5{
    .bg(@footer-bg-2);
    .foot-top{
        padding: 80px 0;
        border-bottom: 1px solid @bw-14;
    }
    .s5-b1{
        .b1-c1{
            text-align: right;
        }
        .fa{
            margin-top: 10px;
            font-size: 50px;
            color: @bw-16;
        }
        .b1-h4{
            font-family: @header-ff;
            color: @header-col-light-2;
            font-size: @text-size-4;
        }
        .b1-p{
            font-family: @text-ff;
            color: @text-col-dark-1;
            font-size: @text-size;
        }
    }

    .foot-line{
        padding: 20px 0;
        .s4-b5{
            .fl-h3{
                font-family: @header-ff;
                color: @header-col-light-2;
                font-size: @text-size-3;

                font-weight: bold;
                margin-top: 0;
            }
            .fl-logo{}
            .fl-p{
                font-family: @text-ff;
                color: @text-col-light-1;
                font-size: @text-size;

                a{
                    font-family: @text-ff;
                    color: @text-col-light-1;
                    font-size: @text-size;
                }
            }
        }
        .s4-b6{
            padding: 20px; 
            .fl-a{
                padding: 0 10px;

                font-family: @text-ff;
                color: @text-col-light-1;
                font-size: @text-size;
            }
        }
    }
}