@import "theme-light";
@import "mixins";
@import "var-blog-22";


.fot-s2{
    .foot-top{
        padding: 60px 0;
        .bg(@footer-bg-2);

        h3{
            font-family: @header-ff;
            color: @header-col-light-1;
            font-size: @header-size;

            font-weight: lighter;
            margin-bottom: 30px;
        }
        p, address{
            font-family: @text-ff;
            color: @text-col-light-1;
            font-size: @text-size;
        }
    }
    .s2-b1{
        p{
            font-family: @text-ff;
            color: @text-col-light-1;
            font-size: @text-size;

            margin-bottom: 40px;
        }
    }
    .s2-b2{
        .svg-inline--fa{
            display: inline-block;
            width: 30px;
            color: @bw-14;
        }
        .b2-twit{
            display: inline;
        }
        .b2-date{
            color: @bw-27;
            margin: 5px 0 20px 0;
            font-size: 12px;
        }
    }
    .s2-b3{
        .svg-inline--fa{
            display: inline-block;
            width: 30px;
        }
        a{
            font-family: @text-ff;
            color: @text-col-light-1;
            font-size: @text-size;
        }
    }
    .s2-b4{
        .b4-ul{
            .b4-li{
                width: 34px;
                height: 34px;
                border-radius: 50%;
                .bg(@bw-27);

                .b4-a{
                    display: inline-block;
                    padding: 7px;

                    .svg-inline--fa{
                        color: @bw-7;
                    }
                }
            }
        }
    }

    .foot-line{
        padding: 20px;
        .bg(@footer-bg-1);

        .s2-b5{
            .fl-h3{
                font-family: @header-ff;
                color: @header-col-light-1;
                font-size: @header-size;

                font-weight: bold;
                margin-top: 0;
            }
            .fl-logo{}
            .fl-p{
                font-family: @text-ff;
                color: @text-col-light-1;
                font-size: @text-size;

                a{
                    font-family: @text-ff;
                    color: @text-col-light-1;
                    font-size: @text-size;
                }
            }
        }
        .s2-b6{
            padding: 20px; 
            .fl-a{
                padding: 0 10px;

                font-family: @text-ff;
                color: @text-col-light-1;
                font-size: @text-size;
            }
        }
    }
}