@import "theme-light";
@import "mixins";
@import "var-blog-22";

.phe-s11{
    background-size: cover;
    width: 100%;

    .s11-cover{
        background: rgba(0,0,0,0.65);
    }

    .s11-b1{
        padding: 100px 0;

        .b1-h2{
            font-size: 40px;
            padding-bottom: 5px;
            width: 80%;
            margin-left: 10%;
            line-height: 1.3em;
            color: @bw-30;

            a{
                color: @bw-30;
            }

            small{
                text-transform: uppercase;
                color: @c-1;
                font-size: 16px;
            }
        }
        .b1-p{
            color: @bw-20;
        }
        .b1-ul{
            padding: 10px 0;
            .b1-li a .svg-inline--fa{
                font-size: @text-size-2;
                color: @bw-30;
                margin: 0 5px;
            }
        }
    }
}