@import "theme-light";
@import "mixins";
@import "var-blog-22";


.sid-s19{
    // border: 1px solid @bw-20;
    padding: 15px;
    margin-bottom: 30px;

    .s19-body{}
    
    .s19-img-box{
        .s19-img{
            width: 50%;
            border-radius: 50%;
        }
    }
    .s19-text{
        .lead-text{}
        .p-text{}

        .b2-ul{
            .b2-li{
                a{
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    .bg(@c-1);
                    color: @gb-30;
                    border-radius: 50%;

                    .svg-inline--fa{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}