@import "theme-light";
@import "mixins";
@import "var-blog-22";


.sid-s16{
    // border: 1px solid @bw-20;
    padding: 15px;
    margin-bottom: 30px;

    .s16-cover{}

    .s16-b1{
        .b1-h3{
            font-family: @header-ff;
            font-size: @text-size-2;
            color: @header-col-dark;

            border-bottom: 1px solid @bw-20;
            margin: 0;
            padding-bottom: 15px;
        }
    }
    .s16-b2{
        .b2-ul{
            .b2-li{
                padding: 10px 0;
                border-bottom: 1px dashed @bw-20;

                a{
                    font-family: @text-ff;
                    color: @text-col-dark-1;
                    font-size: @text-size;
                }
            }
        }
    }
}