@import "theme-light";
@import "mixins";
@import "var-blog-22";


.sid-s17{
    // border: 1px solid @bw-20;
    padding: 15px;
    margin-bottom: 30px;

    .s17-cover{}

    .s17-b1{
        .b1-h3{
            font-family: @header-ff;
            font-size: @text-size-2;
            color: @header-col-dark;

            border-bottom: 1px solid @bw-20;
            margin-top: 0;
            padding-bottom: 15px;
        }
    }
    .s17-b2{
        .b2-ul{
        }
        .b2-li{
            margin: 10px 0 10px 0;
            padding-bottom: 10px;
            border-bottom: 1px dashed @bw-20;
            .b2-text{
                .b2-p{
                    margin: 0;

                    font-family: @text-ff;
                    color: @text-col-dark-2;
                    font-size: @text-size;
                }
                .b2-a{
                    font-family: @text-ff;
                    color: @text-col-dark;
                    font-size: @text-size;

                    line-height: 14px;
                }
            }
        }
    }
}