@import "theme-light";
@import "mixins";
@import "var-blog-22";

.sec-s25{
    padding: 20px 0;

    .s25-b1{
        h3.head-text{
            font-family: @header-ff;
            color: @header-col-dark;
            font-size: @header-size;

            padding: 10px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid @bw-20;
        }
    }
    .s25-b2{
        .b2-ul{
            .b2-li{
                margin: 5px 0;
                .b2-a{
                    font-family: @text-ff;
                    color: @text-col-dark-1;
                    font-size: @text-size;

                    padding: 5px 10px;
                    display: inline-block;
                    .bg(@bw-23);
                }
            }
        }
    }
}