@import "theme-light";
@import "mixins";
@import "var-blog-22";

.sec-s35{
    padding: 20px 0;

    .s35-bs{
        .bs-img{
            max-height: 160px;
            overflow: hidden;
            .img{
                width: 100%;
            }
        }
        .bs-h3 a{
            font-family: @header-ff;
            font-size: 18px;
            color: @header-col-dark;

            small{
                font-size: 14px;
            }
        }
        .bs-date{
            font-size: 12px;
        }
    }
}