@import "theme-light";
@import "mixins";
@import "var-blog-22";


.sec-s33{
    padding: 20px 0;

    .s33-bs{
        margin-bottom: 60px;
        .bs-img{
            max-height: 250px;
            overflow: hidden;
            .img{
                width: 100%;
            }
        }
        .head-text.bs-h3 a{
            font-family: @header-ff;
            font-size: @lead-text-size;
            color: @header-col-dark;
        }
    }
}