@import "theme-light";
@import "mixins";
@import "var-blog-22";


.sec-s52{
    padding: 20px 0;

    .post-tags{
        .p-text{

            font-family: @text-ff;
            color: @text-col-dark-1;
            font-size: @text-size;
        }
    }
    .post-title{
        .head-text a{
            font-family: @header-ff;
            color: @header-col-dark;
            font-size: @header-size;
        }
    }
    .post-author{
        padding: 5px 0 15px;
        a{
            font-family: @text-ff;
            color: @c-2;
            font-size: @text-size;
        }
    }
    .post-img{
        .img{
            width: 100%;
            padding: 0 30px 20px 0;
        }
    }
    .post-short-desc{
        .p-text{

            font-family: @text-ff;
            color: @text-col-dark-1;
            font-size: @text-size;
        }
    }
}