@import "theme-light";
@import "mixins";
@import "var-blog-22";

.sec-s60{
    padding: 40px 0;

    .wishlist-head{
        .head-h2{
            font-family: @header-ff;
            color: @header-col-dark;
            font-size: @lead-text-size;
    
            padding-bottom: 8px;
            position: relative;
            margin: 0 0 50px;
            font-weight: 700;
    
            &:before{
                content: "";
                width: 100px;
                height: 2px;
                background: @c-2;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
    .wishlist{
        .prod-layout{
            margin-bottom: 80px;

            .item-container{
                &:hover > .item-words .item-btn{
                    display: block;
                    z-index: 10000;
                }
            }
            &:hover{
                .item-wishlist{
                    display: block;
                }
            }
        }
        .item-img{
            margin-bottom: 20px;
            height: 260px;
            overflow: hidden;

            img{
                margin: 0 auto;
                max-width: 100%;
                display: block;
            }
        }
        .item-tag{
            left: 10px;
            top: 15px;
            color: #fff;
            height: 20px;
            line-height: 18px;
            text-align: center;
            text-transform: uppercase;
            font-size: 11px;
            display: inline-block;
            margin: 0;
            padding: 1px 5px;
            margin-left: 15px;
            position: absolute;
            .bg(@l-2);
        }
        .item-words{
            h4{
                // font-size: 16px;
                // margin-top: 5px;
                // height: 2.8em;
                // overflow: hidden;
                // display: inline-block;
                // width: 100%;

                a{
                    margin: 0;
                    font-family: @ff-2;
                    font-weight: 700;
                    color: #666;
                }
            }

            .item-rat{
                margin: 5px 0 0 0;

                span{
                    font-size: 11px;
                    color: @c-3;
                }
            }
            .item-wishlist{
                position: absolute;
                font-size: 12px;
                font-weight: normal;
                right: 20px;
                top: 10px;
                display: none;
                border: 1px solid @c-1;
                border-radius: 3px;
                
                a{
                    color: @c-1;
                }
                &:hover >a{
                    color: @gb-30;
                    .bg(@c-1);
                }
            }
            .item-price{
                .pri-new{
                    font-size: 18px;
                    font-weight: normal;
                    color: @c-1;
                }
                .pri-old{
                    font-size: 12px;
                    line-height: 20px;
                    padding: 2px 5px;
                    display: inline-block;
                    text-decoration: line-through;
                    color: #999;
                }
            }

            .item-desc{
                font-family: @text-ff;
                font-size: @text-size;
                color: @text-col-dark-1;
            }

            .item-btn{
                display: none;
                position: absolute;
                top: 200px;
                left: 20%;
                margin: 5px auto;

                .btn-1{
                    vertical-align: top;
                    .bg(@c-1);
                    color: #fff;
                    font-size: 16px;
                    padding: 0 15px;
                    height: 38px;
                    margin: 0 4px;
                    border-radius: 3px;
                    z-index: 2;
                    top: 0;
                    white-space: nowrap;
                    border: 1px solid #ccc;

                    .svg-inline--fa{
                        width: 30px;
                    }

                    &:hover{
                        background: @c-1;
                        border-color: #fff;
                        color: #fff;
                    }
                }
            }
        }
    }
}