//  Gray shades with Text color Black (a component which do not change with dark and light theme replace @bw with @gb)
//  USE GB for now - we may need to delete GW later if not needed
@gb-1:  #060606;
@gb-2:  #0e0e0e;
@gb-3:  #101010;
@gb-4:  #181818;
@gb-5:  #202020;
@gb-6:  #282828;
@gb-7:  #303030;
@gb-8:  #383838;
@gb-9:  #404040;
@gb-10: #484848;
@gb-11: #505050;
@gb-12: #585858;
@gb-13: #686868;
@gb-14: #787878;
@gb-15: #888888;
@gb-16: #989898;
@gb-17: #A8A8A8;
@gb-18: #B8B8B8;
@gb-19: #C0C0C0;
@gb-20: #D0D0D0;
@gb-21: #D8D8D8;
@gb-22: #E0E0E0;
@gb-23: #E8E8E8;
@gb-24: #F0F0F0;
@gb-25: #F5F5F5;
@gb-26: #F8F8F8;
@gb-27: #FAFAFA;
@gb-28: #FCFCFC;
@gb-29: #FEFEFE;
@gb-30: #FFFFFF;


//  Text Dark and Background light    ////////////////////////////
@bw-1:  #060606;
@bw-2:  #0e0e0e;
@bw-3:  #101010;
@bw-4:  #181818;
@bw-5:  #202020;
@bw-6:  #282828;
@bw-7:  #303030;
@bw-8:  #383838;
@bw-9:  #404040;
@bw-10: #484848;
@bw-11: #505050;
@bw-12: #585858;
@bw-13: #686868;
@bw-14: #787878;
@bw-15: #888888;
@bw-16: #989898;
@bw-17: #A8A8A8;
@bw-18: #B8B8B8;
@bw-19: #C0C0C0;
@bw-20: #D0D0D0;
@bw-21: #D8D8D8;
@bw-22: #E0E0E0;
@bw-23: #E8E8E8;
@bw-24: #F0F0F0;
@bw-25: #F5F5F5;
@bw-26: #F8F8F8;
@bw-27: #FAFAFA;
@bw-28: #FCFCFC;
@bw-29: #FEFEFE;
@bw-30: #FFFFFF;


//  Text colors
@tx-col-1:   #26304d;
@tx-col-2:   #35373C;
@tx-col-3:   #26304d;
@tx-col-4:   #26304d;
@tx-col-5:   #26304d;


//  Background color
@bg-col-1:   #c0c5cc;
@bg-col-2:   #c0c5cc;
@bg-col-3:   #7d8a93;
@bg-col-4:   #c0c5cc;
@bg-col-5:   #c0c5cc;