

@import "classes";

@import "he-22-1";
@import "ph-11";
@import "ph-12-1";
@import "ph-12-2";

@import "se-31";
@import "se-32";
@import "se-33";
@import "se-34";
@import "se-35";

@import "se-23";
@import "se-24";
@import "se-25";
@import "se-26";
@import "se-27";
@import "se-28";

@import "sd-11";
@import "sd-12";
@import "sd-13";
@import "sd-14";
@import "sd-15";
@import "sd-16";
@import "sd-17";
@import "sd-18";

@import "ft-1";
@import "ft-2";
@import "ft-3";
@import "ft-4";
@import "ft-5";
@import "ft-6";

@import "he-3-1";


body{
    overflow-x: hidden;
    min-height: 2000px;
}

//  constant settings
::selection{background: #222;color:#FFF;}
::-moz-selection{background: #222;color:#FFF;}
::-webkit-scrollbar-corner{background:transparent;display:none}
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-track{background:#fff;border-radius:30px}
::-webkit-scrollbar-thumb{border-radius:30px;background:@g-3;-webkit-box-shadow:none;border: 1px solid #fff;}