@import "theme-light";
@import "mixins";

//  Font family definations    ////////////////////////////
@ff-1:  'Open Sans', sans-serif;
@ff-2:  'Montserrat', serif;
@ff-3:  'Open Sans', sans-serif;

//  Color definations    ////////////////////////////
//  Theme Color
@c-1:   #EF4035;
@c-2:   #34495E;
@c-3:   #4AD9D9;
@c-4:   #e9f0f2;

//  Text Color
@c-5:   #26304d;
@c-6:   #38454e;    // light blue added
@c-7:   #7d8a93;    // light text color
@c-8:   #c0c5cc;    // 

//  Background colors
@c-9:   #8898aa;
@c-10:  #6b7c93;
@c-11:  #43575d;
@c-12:  #6b7c93;
@c-13:  #f5faff;


//  Theme color transparent shades    ////////////////////////////
@ct-1:  fade(@c-1, 30%);
@ct-2:  fade(@c-1, 50%);
@ct-3:  fade(@c-1, 70%);
@ct-4:  fade(@c-1, 90%);

@cl:    lighten(@c-1, 20%);
@cd:    darken(@c-1, 20%);


//  Font size as per text location    ////////////////////////////
@header-size: 40px;
@text-size: 14px;
@text-size-mobile: 16px;
@lead-text-size: 20px;
@text-size-1: 16px;
@text-size-2: 18px;
@text-size-3: 26px;
@text-size-4: 32px;
@text-size-5: 60px;

@text-size-6: 12px;
@text-size-7: 10px;
@text-size-8: 70px;
@text-size-9: 90px;
@text-size-10: 40px;

//  Component specific colors    ////////////////////////////
@header-col-light: @bw-30;
@header-col-light-1: @bw-22;
@header-col-light-2: @bw-18;
@header-col-dark: @bw-2;
@header-col-dark-1: @bw-8;
@header-col-dark-2: @bw-15;

@text-col-light: @bw-30;
@text-col-light-1: @bw-22;
@text-col-light-2: @bw-18;
@text-col-dark: @bw-2;
@text-col-dark-1: @bw-8;
@text-col-dark-2: @bw-15;

@lead-text-col-light: @bw-30;
@lead-text-col-light-1: @bw-22;
@lead-text-col-light-2: @bw-18;
@lead-text-col-dark: @bw-2;
@lead-text-col-dark-1: @bw-8;
@lead-text-col-dark-2: @bw-15;

//  Component specific fonts    ////////////////////////////
@header-ff: @ff-2;
@text-ff: @ff-1;
@text-ff-1: @ff-3;


.cont-wrap-2{
    .colored{
        max-width: 150px;
        height: 2px;
        border-top: 1px solid @c-1;
        border-bottom: 1px solid @c-1;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .cont-1{
        padding: 100px 0;
        .bg(@bw-2);
        .lead-text{
            color: @lead-text-col-light;
            font-family: @text-ff;
            font-size: 26px;

            text-transform: uppercase;
        }
        .subscribe-form{
            .input-group{
                flex-wrap: wrap;
                width: 100%;
                .form-control{
                    -webkit-box-flex: 1;
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    border-radius: 0;
                }
                .input-group-btn .btn{
                    border-radius: 0;
                    border: none;
                    .bg(@c-1);
                    color: @bw-27;
                }
            }
        }
    }
    .cont-2{
        padding: 100px 0;
        .section-head{
            .head-text{
                font-family: @header-ff;
                color: @header-col-dark;
                font-size: @header-size;

                text-transform: uppercase;
                font-weight: bold;
            }
            .p-text{
                font-family: @text-ff;
                color: @text-col-dark-1;
                font-size: 16px;
            }
        }
        .contact-form{
            padding: 60px 0;

            .input-group{
                border-top: 1px solid @bw-22;

                .label-text{
                    display: block;
                    z-index: 0;
                    position: relative;
                    top: 2em;
                    margin: 0;
                    font-size: 0.85em;
                    line-height: 1.764705882em;
                    opacity: 0;
                    -webkit-transition: top 0.5s ease,opacity 0.5s ease;
                    transition: top 0.5s ease,opacity 0.5s ease;
                }
                .form-control{
                    position: relative;
                    border: none;
                    border-radius: 0;
                    font-size: 1.6em;
                    background: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    margin-bottom: 20px;
                }
                .btn{
                    border: 1px solid @bw-5;
                    .bg(@t);
                    border-radius: 0;
                    &:hover{
                        .bg(@c-1);
                        color: @gb-27;
                        border-color: @c-1;
                    }
                }
            }
            .floating-label-change.floating-label-update .label-text{
                top: 0;
                opacity: 1;
            }
        }
    }
    .cont-3{
        padding: 100px 0 20px 0;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/bg26.jpg');
        width: 100%;
        height: 100%;
        background-size: cover;


        .cont-box{
            .lead-text{
                font-family: @text-ff;
                color: @w-4;
                font-size: 26px;

                .fa{
                    color: @w-4;
                }
            }
            .p-text{
                color: @w-4;
                font-family: @text-ff;
                font-size: 16px;
            }
        }
        .box-social{
            padding: 80px 0;

            i{
                color: @w-4;
                width: 40px;
                font-size: 26px;
            }
        }
    }
}

@media screen and (min-width: 1200px){ //lg size devices
}

@media screen and (max-width: 1199px) and (min-width: 992px) { //md size devices
}

@media screen and (max-width: 991px) and (min-width: 768px) { //sm size devices
}

@media screen and (max-width: 767px) { //xs size devices
    .p-text{
        font-size: 16px !important;
    }
    .cont-2-wrap{}
}