@import "theme-light";
@import "mixins";

//  Font family definations    ////////////////////////////
@ff-1:  'Open Sans', sans-serif;
@ff-2:  'Montserrat', serif;
@ff-3:  'Open Sans', sans-serif;

//  Color definations    ////////////////////////////
//  Theme Color
@c-1:   #0baf4e;
@c-2:   #34495E;
@c-3:   #4AD9D9;
@c-4:   #e9f0f2;

//  Text Color
@c-5:   #26304d;
@c-6:   #38454e;    // light blue added
@c-7:   #7d8a93;    // light text color
@c-8:   #c0c5cc;    // 

//  Background colors
@c-9:   #8898aa;
@c-10:  #6b7c93;
@c-11:  #43575d;
@c-12:  #6b7c93;
@c-13:  #f5faff;


//  Theme color transparent shades    ////////////////////////////
@ct-1:  fade(@c-1, 30%);
@ct-2:  fade(@c-1, 50%);
@ct-3:  fade(@c-1, 70%);
@ct-4:  fade(@c-1, 90%);

@cl:    lighten(@c-1, 20%);
@cd:    darken(@c-1, 20%);


//  Font size as per text location    ////////////////////////////
@header-size: 40px;
@text-size: 14px;
@text-size-mobile: 16px;
@lead-text-size: 20px;
@text-size-1: 16px;
@text-size-2: 18px;
@text-size-3: 24px;
@text-size-4: 32px;
@text-size-5: 60px;

@text-size-6: 12px;
@text-size-7: 10px;
@text-size-8: 70px;
@text-size-9: 90px;
@text-size-10: 40px;

//  Component specific colors    ////////////////////////////
@header-col-light: @bw-30;
@header-col-light-1: @bw-22;
@header-col-light-2: @bw-18;
@header-col-dark: @bw-2;
@header-col-dark-1: @bw-8;
@header-col-dark-2: @bw-12;

@text-col-light: @bw-30;
@text-col-light-1: @bw-22;
@text-col-light-2: @bw-18;
@text-col-dark: @bw-2;
@text-col-dark-1: @bw-8;
@text-col-dark-2: @bw-15;

@lead-text-col-light: @bw-30;
@lead-text-col-light-1: @bw-22;
@lead-text-col-light-2: @bw-18;
@lead-text-col-dark: @bw-2;
@lead-text-col-dark-1: @bw-8;
@lead-text-col-dark-2: @bw-15;

//  Component specific fonts    ////////////////////////////
@header-ff: @ff-2;
@text-ff: @ff-1;
@text-ff-1: @ff-3;


.b44-wrap{
    .ab-breadcrum{
        .bg(@bw-24);
        margin: 0 0 30px;
    }

    .ab-bread{
        padding: 15px 0;
        margin: 0;
        background: none;

        li.p-text{
            font-size: 13px;

            a{
                color: @bw-15;
            }
        }
    }

    .ab-side{
        .side-title{
            font-size: 20px;
            font-family: @ff-2;
            padding-bottom: 8px;
            position: relative;
            margin: 0 0 30px;
            font-weight: 700;

            &:before{
                content: "";
                width: 54px;
                height: 1px;
                background: @c-1;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        .site-cat{
            margin-bottom: 60px;

            .cat-title{
                margin-bottom: 20px;
                
                color: @c-1;
                font-family: @text-ff;
                font-size: 16px;

                .fa{

                }
            }

            .cat-box{
                .ab-category{
                    li{
                        margin: 15px;
                        border-bottom: 1px solid @bw-20;

                        .fa{
                            display: inline-block;
                            width: 20px;
                        }

                        a{
                            font-family: @text-ff;
                            color: @text-col-dark-1;
                            font-size: @text-size;

                            display: inline-block;
                            margin-bottom: 10px;

                            &:hover{
                                color: @c-1;
                            }
                        }
                    }
                }

                .ab-tags{
                    margin-left: 10px;
                    li{
                        border: 1px solid @bw-15;
                        border-radius: 2px;
                        margin: 0 3px 6px 0;

                        a{
                            display: inline-block;
                            padding: 8px 10px;

                            font-family: @text-ff;
                            color: @text-col-dark-1;
                            font-size: @text-size;

                            &:hover{
                                color: @c-1;
                            }
                        }
                    }
                }
            }
        }
    }

    .ab-side-prd{
    }

    .ab-prd-sugg{
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid @bw-24;
        margin-bottom: 20px;

        .ab-prd-img{
            width: 35%;
            float: left;
            padding: 0;
            margin-right: 20px;
            overflow: hidden;

            img{
                display: block;
            }
        }

        .ab-prd-cont{
            h4{
                a{
                    font-size: 16px;
                    margin: 0;
                    font-family: @ff-2;
                    font-weight: normal;
                    color: #666;
                }
            }

            .item-price{
                margin: 6px 0 10px;

                .pri-new{
                    font-size: 18px;
                    font-weight: normal;
                    color: @c-1;
                }
                .pri-old{
                    font-size: 12px;
                    line-height: 20px;
                    padding: 2px 5px;
                    display: inline-block;
                    text-decoration: line-through;
                    color: #999;
                }
            }
        }
    }

    .ab-filter{
        margin: 30px 0;
        background: @bw-24;
        display: inline-block;
        width: 100%;

        .ab-view{
            button{
                border-radius: 0;
                padding: 8px 10px;
                background: none;
                border-left: none;
                border-top: none;
                border-bottom: none;
                border-right: 1px solid #fff;
            }
        }

        .ab-sort{
            padding: 5px 50px 5px 10px;

            .form-group{
                .form-control{
                    padding: 3px 8px;
                    height: auto;
                }
            }
        }
    }

    .ab-grid.ab-products{

        .prod-layout{
            margin-bottom: 40px;
            .bg(@bw-30);
            .item-container{}
        }

        .item-img{
            margin-bottom: 20px;

            img{
                margin: 0 auto;
                max-width: 100%;
                display: block;
            }
            .item-tag.p-text{
                text-align: center;
                background: @c-3;
                font-weight: normal;
                left: 20px;
                top: 10px;
                height: 42px;
                width: 42px;
                border-radius: 42px;
                line-height: 42px;
                position: absolute;
                text-transform: capitalize;
                z-index: 9;

                color: @gb-30;
                font-family: @text-ff;
                font-size: 12px;
            }
        }

        .item-words{
            h4{
                a.lead-text{
                    margin: 0;
                    font-weight: normal;

                    color: @lead-text-col-dark-1;
                    font-family: @text-ff;
                    font-size: @lead-text-size;
                }
            }

            .item-rat{
                margin: 5px 0 0 0;

                .fa{
                    font-size: 11px;
                    color: @c-3;
                }
            }

            .item-price{
                margin: 6px 0 10px;

                .pri-new{
                    font-size: 20px;
                    font-weight: normal;
                    color: @c-1;
                }
                .pri-old{
                    font-size: 12px;
                    line-height: 20px;
                    padding: 2px 5px;
                    display: inline-block;
                    text-decoration: line-through;
                    color: #999;
                }
            }

            .item-desc{
                p.p-text{
                    font-family: @text-ff;
                    color: @text-col-dark-1;
                    font-size: @text-size;
                }
            }

            .item-btn{
                margin: 5px 0;

                .btn-1{
                    vertical-align: top;
                    position: relative;
                    background: transparent;
                    color: #666;
                    font-size: 16px;
                    padding: 0 15px;
                    height: 38px;
                    margin: 0 4px;
                    border-radius: 3px;
                    z-index: 2;
                    top: 0;
                    white-space: nowrap;
                    border: 1px solid #ccc;

                    .fa{
                        width: 30px;
                    }

                    &:hover{
                        background: @c-1;
                        border-color: #fff;
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px){ //lg size devices
}

@media screen and (max-width: 1199px) and (min-width: 992px) { //md size devices
}

@media screen and (max-width: 991px) and (min-width: 768px) { //sm size devices
}

@media screen and (max-width: 767px) { //xs size devices
    .p-text{
        font-size: 16px !important;
    }
    .b44-wrap{
        .col-left, .col-mid, .ab-banner div{
            padding: 0 !important;
        }
        .ab-filter{
            .ab-sort{
                padding: 5px 0px 5px 10px !important;

                .form-group{
                    margin-bottom: 0 !important;
                    .form-control{
                        width: auto !important;
                        display: inline-block !important;
                    }
                }
            }
        }
        .ab-products{
            .prod-layout{
                padding: 0 !important;
                margin-bottom: 60px !important;
                .item-words{
                    a{
                        font-size: @text-size-1 !important;
                    }
                }
                .item-btn{
                    .btn-1{
                        padding: 0 7px !important;
                    }
                }
            }
        }
    }
}