@import "theme-light";
@import "mixins";

//  Font family definations    ////////////////////////////
@ff-1:  'Open Sans', sans-serif;
@ff-2:  'Source Sans Pro', serif;
@ff-3:  'Open Sans', sans-serif;

//  Color definations    ////////////////////////////
//  Theme Color
@c-1:   #0baf4e;
@c-2:   #34495E;
@c-3:   #4AD9D9;
@c-4:   #e9f0f2;

//  Text Color
@c-5:   #26304d;
@c-6:   #38454e;    // light blue added
@c-7:   #7d8a93;    // light text color
@c-8:   #c0c5cc;    // 

//  Background colors
@c-9:   #8898aa;
@c-10:  #6b7c93;
@c-11:  #43575d;
@c-12:  #6b7c93;
@c-13:  #f5faff;


//  Theme color transparent shades    ////////////////////////////
@ct-1:  fade(@c-1, 30%);
@ct-2:  fade(@c-1, 50%);
@ct-3:  fade(@c-1, 70%);
@ct-4:  fade(@c-1, 90%);

@cl:    lighten(@c-1, 20%);
@cd:    darken(@c-1, 20%);


//  Font size as per text location    ////////////////////////////
@header-size: 45px;
@text-size: 14px;
@text-size-mobile: 16px;
@lead-text-size: 20px;
@text-size-1: 16px;
@text-size-2: 18px;
@text-size-3: 24px;
@text-size-4: 32px;
@text-size-5: 60px;

@text-size-6: 12px;
@text-size-7: 10px;
@text-size-8: 70px;
@text-size-9: 90px;
@text-size-10: 40px;

//  Component specific colors    ////////////////////////////
@header-col-light: @bw-30;
@header-col-light-1: @bw-22;
@header-col-light-2: @bw-18;
@header-col-dark: @bw-2;
@header-col-dark-1: @bw-8;
@header-col-dark-2: @bw-12;

@text-col-light: @bw-30;
@text-col-light-1: @bw-22;
@text-col-light-2: @bw-18;
@text-col-dark: @bw-2;
@text-col-dark-1: @bw-8;
@text-col-dark-2: @bw-15;

@lead-text-col-light: @bw-30;
@lead-text-col-light-1: @bw-22;
@lead-text-col-light-2: @bw-18;
@lead-text-col-dark: @bw-2;
@lead-text-col-dark-1: @bw-8;
@lead-text-col-dark-2: @bw-15;

//  Component specific fonts    ////////////////////////////
@header-ff: @ff-2;
@text-ff: @ff-1;
@text-ff-1: @ff-3;


.b47-wrap{
    .bg(@bw-30);

    .ac-breadcrum{
        .bg(@bw-25);
        margin: 0 0 30px;
        padding: 60px 0;

        .head-text{
            font-family: @header-ff;
            color: @header-col-dark;
            font-size: @header-size;

            font-weight: 700;
            margin: 0 0 10px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
    
    .ac-bread{
        margin: 0;
        background: none;

        .fa{
            width: 20px;
            text-align: center;
            font-size: 10px;
        }

        &>li+li:before{
            content: none;
        }

        li.p-text{
            font-size: 13px;
            color: @bw-18;
    
            a{
                color: @bw-15;
            }
        }
    }

    .col-left{
        .bg(@bw-25);
        padding: 36px 38px 48px 30px;
    }

    .ac-side{
        .bg(@bw-25);
        .side-title.lead-text{
            color: @lead-text-col-dark-1;
            font-family: @text-ff;
            font-size: 22px;

            font-weight: 900;
            margin: 0 0 30px;
            padding-bottom: 10px;
            text-transform: uppercase;
        }
    
        .site-cat{
            margin-bottom: 40px;
    
            .cat-title{
                h4.lead-text{
                    color: @c-1;
                    font-family: @text-ff;
                    font-size: 14px;

                    margin: 0 0 30px 0;
                    color: @c-1;
                    position: relative;
    
                    &:after{
                        content: '';
                        display: -moz-inline-stack;
                        display: inline-block;
                        vertical-align: middle;
                        zoom: 1;
                        width: 25px;
                        height: 1px;
                        background: @c-1;
                        margin-left: 10px;
                    }
                }
            }
    
            .cat-box{
                .ac-category{
                    font-family: @text-ff;

                    input[type="checkbox"]:checked+.fake-input::before{
                        opacity: 1;
                    }

                    li{
                        input[type="checkbox"]{
                            position: fixed;
                            left: 0;
                            top: 0;
                            opacity: 0;
                            z-index: -1;
                        }
                        .fake-input{
                            display: inline-block;
                            width: 11px;
                            height: 11px;
                            border: 1px solid #cecece;
                            background: #f2f2f2;
                            vertical-align: middle;
                            position: relative;
                            margin-right: 5px;
                            border-radius: 2px;

                            &::before{
                                content: '';
                                width: 10px;
                                height: 6px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                border: 3px solid #777;
                                border-width: 0 0 3px 3px;
                                opacity: 0;
                                -moz-transform: rotate(-45deg);
                                -ms-transform: rotate(-45deg);
                                -webkit-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                                margin: -5px 0 0 -2px;
                            }
                        }
                        .fake-label{
                            font-weight: 300;
                            font-size: 13px;
                        }
                        .num{
                            float: right;
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 15px;
                            margin: 2px 0 0;
                        }
                    }
                }
    
                .ac-tags{
                    margin-left: 10px;
                    li{
                        border: 1px solid @bw-20;
                        border-radius: 2px;
                        margin: 0 3px 6px 0;
    
                        a{
                            display: inline-block;
                            padding: 5px 8px;

                            font-family: @text-ff;
                            color: @text-col-dark-2;
                            font-size: 13px;
                        }
                        &:hover{
                            border-color: @c-1;

                            a{
                                color: @c-1;
                            }
                        }
                    }
                }
            }
        }
    }

    .ac-prd-sugg{
        width: 100%;
        display: inline-block;
        margin-bottom: 20px;
    
        .ac-prd-img{
            width: 35%;
            float: left;
            padding: 0;
            margin-right: 20px;
            overflow: hidden;
    
            img{
                display: block;
            }
        }
    
        .ac-prd-cont{
            h4.p-text{
                font-family: @text-ff;
                color: @text-col-dark-1;
                font-size: @text-size;
    
                a{
                    margin: 0;
                    font-family: @ff-2;
                    font-weight: normal;
                    color: @bw-14;
                }
            }

            .item-price{
                margin: 6px 0 10px;
    
                .pri-new{
                    font-size: 16px;
                    font-weight: normal;
                    color: @c-1;
                }
                .pri-old{
                    font-size: 12px;
                    line-height: 20px;
                    padding: 2px 5px;
                    display: inline-block;
                    text-decoration: line-through;
                    color: #999;
                }
            }
        }
    }

    .ac-filter{
        padding: 10px 15px;
        .p-text.showing-num{
            margin: 0;
            padding: 10px 0;
            color: @bw-18;

            span{
                color: @bw-15;
            }
        }
        .sort-ul{
            margin: 0;
            .sort-li{
                
            }
            .tab1{
                color: @bw-18;
                margin: 0 4px 0 0;
                padding: 10px 20px;
                border-radius: 20px;
                border: 1px solid @bw-18;
            }
            .tab2{
                padding: 11px;
                display: block;
                color: @bw-20;
                line-height: 1;
                font-size: 16px;
                border-radius: 50%;
                border: 1px solid @bw-18;
            }
            .li-tab{
                .sort-label{
                    margin: 0;

                    font-family: @text-ff;
                    color: @bw-18;
                    font-size: 13px;
                }
            }
        }
    }

    .ac-grid.ac-products{
    
        .prod-layout{
            margin-bottom: 60px;
    
            .item-container{}
        }
    
        .item-img{
            margin-bottom: 20px;
    
            img{
                margin: 0 auto;
                max-width: 100%;
                display: block;
            }
            .item-tag{
                background: @c-3;
                font-size: 12px;
                font-weight: normal;
                left: 20px;
                top: 20px;
                padding: 4px 15px;
                position: absolute;
                text-transform: capitalize;
                z-index: 9;
                color: #fff;
            }
        }
    
        .item-words{
            h4{
                a.lead-text{
                    color: @lead-text-col-dark-2;
                    font-family: @text-ff;
                    font-size: 18px;

                    margin: 0;
                    font-weight: 700;
                }
            }
    
            .item-rat{
                margin: 5px 0 0 0;
    
                .fa{
                    font-size: 11px;
                    color: @c-3;
                }
            }
    
            .item-price{
                margin: 6px 0 10px;
    
                .pri-new{
                    font-size: 18px;
                    font-weight: normal;
                    color: @c-1;
                }
                .pri-old{
                    font-size: 12px;
                    line-height: 20px;
                    padding: 2px 5px;
                    display: inline-block;
                    text-decoration: line-through;
                    color: #999;
                }
            }
    
            .item-desc{
                p.p-text{
                    font-family: @text-ff;
                    color: @text-col-dark-1;
                    font-size: @text-size;
                }
            }
    
            .item-btn{
                margin: 5px 0;
    
                .btn-1{
                    vertical-align: top;
                    position: relative;
                    background: transparent;
                    color: #666;
                    font-size: 16px;
                    padding: 0 15px;
                    height: 38px;
                    margin: 0 4px;
                    border-radius: 3px;
                    z-index: 2;
                    top: 0;
                    white-space: nowrap;
                    border: 1px solid #ccc;
    
                    .fa{
                        width: 30px;
                    }
    
                    &:hover{
                        background: @c-1;
                        border-color: #fff;
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px){ //lg size devices
}

@media screen and (max-width: 1199px) and (min-width: 992px) { //md size devices
}

@media screen and (max-width: 991px) and (min-width: 768px) { //sm size devices
}

@media screen and (max-width: 767px) { //xs size devices
    .p-text{
        font-size: 16px !important;
    }
    .b47-wrap{
        .col-left{
            padding: 36px 38px 48px 20px !important;
        }
        .col-mid{
            padding: 0 !important;
        }
        .ac-filter{
            .ac-sort{
                padding: 5px 0px 5px 10px !important;
                margin-left: 0 !important;
            }
        }
        .ac-products{
            .prod-layout{
                padding: 0 !important;
                margin-bottom: 60px !important;
                .item-words{
                    a{
                        font-size: @text-size-1 !important;
                    }
                }
                .item-btn{
                    .btn-1{
                        padding: 0 7px !important;
                    }
                }
            }
        }
    }
}