@import "theme-light";
@import "mixins";
@import "delay";


//  Font family definations    ////////////////////////////
@ff-1:  'Open Sans', sans-serif;
@ff-2:  'Open Sans Condensed', serif;
@ff-3:  'Open Sans', sans-serif;

//  Color definations    ////////////////////////////
//  Theme Color
@c-1:   #92CAE6;
@c-2:   #34495E;
@c-3:   #4AD9D9;
@c-4:   #e9f0f2;

//  Text Color
@c-5:   #26304d;
@c-6:   #38454e;    // light blue added
@c-7:   #7d8a93;    // light text color
@c-8:   #c0c5cc;    // 

//  Background colors
@c-9:   #8898aa;
@c-10:  #6b7c93;
@c-11:  #43575d;
@c-12:  #6b7c93;
@c-13:  #f5faff;


//  Theme color transparent shades    ////////////////////////////
@ct-1:  fade(@c-1, 30%);
@ct-2:  fade(@c-1, 50%);
@ct-3:  fade(@c-1, 70%);
@ct-4:  fade(@c-1, 90%);

@cl:    lighten(@c-1, 20%);
@cd:    darken(@c-1, 20%);


//  Font size as per text location    ////////////////////////////
@header-size: 30px;
@text-size: 14px;
@text-size-mobile: 16px;
@lead-text-size: 20px;
@text-size-1: 16px;
@text-size-2: 18px;
@text-size-3: 24px;
@text-size-4: 32px;
@text-size-5: 60px;

@text-size-6: 12px;
@text-size-7: 10px;
@text-size-8: 70px;
@text-size-9: 90px;
@text-size-10: 40px;

//  Component specific colors    ////////////////////////////
@header-col-light: @bw-27;
@header-col-light-1: @bw-20;
@header-col-dark: @c-6;
@header-col-dark-1: @bw-13;

@text-col-light: @bw-27;
@text-col-light-1: @bw-20;
@text-col-dark: @bw-4;
@text-col-dark-1: @c-7;

@lead-text-col-light: @bw-27;
@lead-text-col-light-1: @bw-20;
@lead-text-col-dark: @bw-4;
@lead-text-col-dark-1: @bw-13;

//  Component specific fonts    ////////////////////////////
@header-ff: @ff-2;
@text-ff: @ff-1;
@text-ff-1: @ff-3;


.sec-s53{
    padding: 20px 0;

    .s53-head{
        padding: 0;
        
        h3.head-text{
            font-family: @header-ff;
            color: @header-col-dark;
            font-size: @header-size;

            padding: 10px 0;
            margin-bottom: 20px;
        }
    }

    .comment-box{
        padding-bottom: 20px;

        textarea
        {
            border-radius: 0;
            box-shadow: none;
            border-color: @bw-20;
        }
    }
    .comment-btn{
        .save-comm{
            border-radius: 0;
            .bg(@c-1);
            color: @gb-30;
        }
        
    }
}

@media screen and (min-width: 1200px){ //lg size devices
}

@media screen and (max-width: 1199px) and (min-width: 992px) { //md size devices
}

@media screen and (max-width: 991px) and (min-width: 768px) { //sm size devices
}

@media screen and (max-width: 767px) { //xs size devices
    .p-text{
        font-size: 16px !important;
    }
    .sec-s53{}
}