@import "theme-light";
@import "mixins";

//  Font family definations    ////////////////////////////
@ff-1:  'Open Sans', sans-serif;
@ff-2:  'Varela Round', serif;
@ff-3:  'Open Sans', sans-serif;

//  Color definations    ////////////////////////////
//  Theme Color
@c-1:   #0baf4e;
@c-2:   #34495E;
@c-3:   #4AD9D9;
@c-4:   #e9f0f2;

//  Text Color
@c-5:   #26304d;
@c-6:   #38454e;    // light blue added
@c-7:   #7d8a93;    // light text color
@c-8:   #c0c5cc;    // 

//  Background colors
@c-9:   #8898aa;
@c-10:  #6b7c93;
@c-11:  #43575d;
@c-12:  #6b7c93;
@c-13:  #f5faff;


//  Theme color transparent shades    ////////////////////////////
@ct-1:  fade(@c-1, 30%);
@ct-2:  fade(@c-1, 50%);
@ct-3:  fade(@c-1, 70%);
@ct-4:  fade(@c-1, 90%);

@cl:    lighten(@c-1, 20%);
@cd:    darken(@c-1, 20%);


//  Font size as per text location    ////////////////////////////
@header-size: 30px;
@text-size: 14px;
@lead-text-size: 20px;
@text-size-1: 16px;
@text-size-2: 18px;
@text-size-3: 24px;
@text-size-4: 30px;
@text-size-5: 60px;

@text-size-6: 12px;
@text-size-7: 10px;

//  Component specific colors    ////////////////////////////
@header-col-light: @bw-30;
@header-col-light-1: @bw-22;
@header-col-light-2: @bw-18;
@header-col-dark: @bw-2;
@header-col-dark-1: @bw-8;
@header-col-dark-2: @bw-12;

@text-col-light: @bw-30;
@text-col-light-1: @bw-22;
@text-col-light-2: @bw-18;
@text-col-dark: @bw-2;
@text-col-dark-1: @bw-8;
@text-col-dark-2: @bw-15;

@lead-text-col-light: @bw-30;
@lead-text-col-light-1: @bw-22;
@lead-text-col-light-2: @bw-18;
@lead-text-col-dark: @bw-2;
@lead-text-col-dark-1: @bw-8;
@lead-text-col-dark-2: @bw-15;

//  Component specific fonts    ////////////////////////////
@header-ff: @ff-2;
@text-ff: @ff-1;
@text-ff-1: @ff-3;


.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
    }
  
    // Box hover
    &:hover + label:before {
      background: #f35429;
    }
    
    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
  
    // Box checked
    &:checked + label:before {
      background: #f35429;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
  
  // Demo-only styles
  // --------------
  
  html {
    background: lightgray;
  }
  
  body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  li {
    margin: 20px 0;
  }
  
  .centered {
    width: 300px;
    margin: auto;
  }
  
  .title {
    text-align: center;
    color: rgb(69, 113, 236);
  }