@import "theme-light";
@import "mixins";

//  Font family definations    ////////////////////////////
@ff-1:  'Open Sans', sans-serif;
@ff-2:  'Baloo Bhaina', serif;
@ff-3:  'Open Sans', sans-serif;

//  Color definations    ////////////////////////////
//  Theme Color
@c-1:   #2c949f;
@c-2:   #34495E;
@c-3:   #4AD9D9;
@c-4:   #e9f0f2;

//  Text Color
@c-5:   #26304d;
@c-6:   #38454e;    // light blue added
@c-7:   #7d8a93;    // light text color
@c-8:   #c0c5cc;    // 

//  Background colors
@c-9:   #8898aa;
@c-10:  #6b7c93;
@c-11:  #43575d;
@c-12:  #6b7c93;
@c-13:  #f5faff;


//  Theme color transparent shades    ////////////////////////////
@ct-1:  fade(@c-1, 30%);
@ct-2:  fade(@c-1, 50%);
@ct-3:  fade(@c-1, 70%);
@ct-4:  fade(@c-1, 90%);

@cl:    lighten(@c-1, 20%);
@cd:    darken(@c-1, 20%);


//  Font size as per text location    ////////////////////////////
@header-size: 36px;
@text-size: 14px;
@lead-text-size: 20px;
@text-size-1: 16px;
@text-size-2: 18px;
@text-size-3: 24px;
@text-size-4: 30px;
@text-size-5: 60px;

@text-size-6: 12px;
@text-size-7: 10px;
@text-size-8: 70px;
@text-size-9: 90px;

//  Component specific colors    ////////////////////////////
@header-col-light: @bw-30;
@header-col-light-1: @bw-22;
@header-col-light-2: @bw-18;
@header-col-dark: @bw-2;
@header-col-dark-1: @bw-8;
@header-col-dark-2: @bw-12;

@text-col-light: @bw-30;
@text-col-light-1: @bw-22;
@text-col-light-2: @bw-18;
@text-col-dark: @bw-2;
@text-col-dark-1: @bw-8;
@text-col-dark-2: @bw-15;

@lead-text-col-light: @bw-30;
@lead-text-col-light-1: @bw-22;
@lead-text-col-light-2: @bw-18;
@lead-text-col-dark: @bw-2;
@lead-text-col-dark-1: @bw-8;
@lead-text-col-dark-2: @bw-15;

//  Component specific fonts    ////////////////////////////
@header-ff: @ff-2;
@text-ff: @ff-1;
@text-ff-1: @ff-3;


.sec-s80{
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin-top: 75px;
    background-size: cover;

    .sec-s80-wrap{
        .bg(@ct-2);
        .tra(@tra-3);

        &:hover{
            .bg(@b-3);
        }
    }

    .page-header{
        color: @bw-30;
        border-color: @bw-30;
        margin-bottom: 80px; 
    }

    .square-type{
        padding: 6px 0 6px 0;
    }

    .box {
        padding: 20px;
        height: 100%;
        display: flex;
        border-radius: 10px;
        .tra(@tra-3);
        border: 1px solid @bw-30;

        h3 {
            font-family: @ff-2;
            color: @bw-30;
            line-height: 1.1em;
        }

        p {
            z-index: 10;
            color: @bw-30;
        }

        img {
            z-index: 5;
        }

        &:hover{
            .bg(@w-3);

            h3, p{
                color: @c-1;
            }
        }
    }

    .box-like{
        .rslides{
            padding-left: 25%;
            li a i{
                font-size: 130px;              
                color: @c-1;
            }

            li a p{
                font-size: 26px;
                font-family: @ff-2;
            }
        }
    }

    .box-cms{
        display: block;

        h3{
            font-size: 30px;
        }

        ul{
            padding-left: 40px;

            li{
                color: @bw-30;
                font-size: 22px;

                i{
                    width: 34px;
                    color: @bw-30;
                }
            }
        }

        &:hover i, &:hover li{
            color: @c-1;
        }
    }

    .box-bootstrap{
        h3{
            font-size: 30px;
        }
    }

    .box-contact{
        .rslides{
            padding-left: 20px;
            padding-top: 40px;
        }

        i{
            font-size: 80px;
            color: @c-1;
        }

        p{
            font-size: 20px;
            font-family: @ff-2;
        }
    }

    .box-ecom{
        display: block;

        img{
            width: 80%;
            padding-left: 10%;
        }
    }
}


//  Media query for lg size devices
//____________________________________________________
@media screen and (min-width: 1200px){
    .square{
        height: 290px !important;
        padding: 6px !important;
    }
}


//  Media query for md size devices
//_________________________________________________________
@media screen and (max-width: 1200px) and (min-width: 993px) {
    .square{
        height: 235px!important;
        padding: 6px;
    }
}


//  Media query for sm size devices
//_________________________________________________________
@media screen and (max-width: 992px) and (min-width: 767px) {
    .square{
        height: 184px!important;
        padding: 6px!important;
    }

}


//  Media query for xs small size devices
//_________________________________________________________
@media screen and (max-width: 768px) {
    .square{
        width: 100% !important;
        height: auto !important;
        padding: 6px 0px 6px 0 !important;
    }

}