
@import "mixins";
@import "theme-light";

//  Font family definations    ////////////////////////////
  @ff-1:  'Open Sans', sans-serif;
  @ff-2:  'Gilda Display', serif;
  @ff-3:  'Nunito', sans-serif;

//  Color definations    ////////////////////////////
  @c-1:   #cca78e;
  @c-2:   #34495E;
  @c-3:   #4AD9D9;
  @c-4:   #e9f0f2;

  @c-5:   #01A2A6;
  @c-6:   #082f4e;
  @c-7:   #011222;

  @c-8:   #8898aa;
  @c-9:   #6b7c93;
  @c-10:  #43575d;


//  Font size as per text location    ////////////////////////////
  @header-link-text-size: 16px;

  @header-block-text-size-1: 16px;
  @header-block-text-size-2: 70px;
  @header-block-text-size-3: 18px;
  @header-block-link-text: 14px;

  @head-text-size-1: 30px;
  @head-text-size-2: 24px;

  @lead-text-size: 16px;
  @site-text-size-1: 14px;
  @site-text-size-2: 14px;
  @site-text-size-3: 14px;


//  Location specific colors    ////////////////////////////
  @header-link-text-color: @bw-5; //top navbar link text
  @header-link-text-color-hover: @c-1;
  @header-link-text-color-2: @bw-7; //top navbar link text in case color change on slide
  @header-link-text-color-hover-2: @c-1;

  @header-link-bg-color: @bw-7; //top navbar link bg
  @header-link-bg-color-hover: @bw-7; //top navbar link bg

  @header-background-color: @bw-27; //top navbar area color

  @header-block-color-1: @bw-27; //home page header block 1
  @header-block-color-2: @bw-27; //home page header block 2
  @header-block-color-3: @bw-27; //home page header block 3
  @header-block-link: @c-1; //home page header block link
  @header-block-link-bg: @b-2; //home page header block link background

  @header-text-color: @bw-7;
  @lead-text-color: @bw-7;
  @text-color-1: @bw-7;
  @text-color-2: @bw-7;
  @text-color-3: @c-1;

  @border-color-1: @bw-16;
  @border-color-2: @bw-12;


//  Location specific fonts    ////////////////////////////
  @header-link-ff: @ff-1;
  @header-block-ff-1: @ff-1;
  @header-block-ff-2: @ff-1;
  @header-block-ff-3: @ff-1;

  @header-text-ff:  @ff-1;
  @page-text-ff:  @ff-1;
