@import "theme-light";
@import "mixins";
@import "var-product-1";


.sec-s86{
    padding: 80px 0;
    .bg(@c-4);

    .lead-text{
        color: @lead-text-col-dark-1;
        font-family: @header-ff;
        font-size: @lead-text-size;
    }
    .head-text{
        font-family: @header-ff;
        color: @header-col-dark;
        font-size: 36px;
        line-height: 46px;

        width: 90%;
        margin-left: 5%;
    }
}