@import "theme-light";
@import "mixins";
@import "var-product-1";


.sec-s82{
    padding: 80px 0;
    .head-wrap{
        .head-text{
            font-family: @header-ff;
            color: @header-col-dark;
            font-size: @header-size;
        }
        .p-text{
            font-family: @text-ff;
            color: @text-col-dark-1;
            font-size: @text-size;
        }
    }
    .box-wrap{}
    .box{
        margin: 20px 0;
        .head-text{
            letter-spacing: -1px;
            margin: 10px 0;
            display: inline-block;

            color: @lead-text-col-dark-1;
            font-family: @header-ff;
            font-size: @text-size-3;

            i{
                font-size: 32px;
                display: inline-block;
                width: 40px;
            }
        }
        .p-text{
            font-family: @text-ff;
            color: @text-col-dark-2;
            font-size: @text-size;            
        }
    }
    .right{
        img{
            margin-top: 60px;
        }
    }
}

@media screen and (min-width: 1200px){ //lg size devices
}

@media screen and (max-width: 1199px) and (min-width: 992px) { //md size devices
}

@media screen and (max-width: 991px) and (min-width: 768px) { //sm size devices
}

@media screen and (max-width: 767px) { //xs size devices
    .sec-s82{
        .head-wrap{
            text-align: center;
        }
        .box-wrap{
            text-align: center;
        }
    }
}