.sec-s55 {
  padding: 20px 0;
}
.sec-s55 .s55-head {
  padding: 0;
}
.sec-s55 .s55-head h3.head-text {
  font-size: 20px;
  font-family: 'Lato', serif;
  padding-bottom: 8px;
  position: relative;
  margin: 0 0 30px;
  font-weight: 700;
}
.sec-s55 .s55-head h3.head-text:before {
  content: "";
  width: 100px;
  height: 2px;
  background: #34495e;
  position: absolute;
  left: 0;
  bottom: 0;
}
.sec-s55 .comment-img img {
  padding: 0 15px;
  width: 100%;
}
.sec-s55 .comment-content {
  margin-bottom: 50px;
}
.sec-s55 .comment-name {
  padding-bottom: 4px;
}
.sec-s55 .comment-name p {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.sec-s55 .comment-rating {
  padding: 5px 0 15px 0;
}
.sec-s55 .comment-rating .red {
  color: #d9534f;
}
.sec-s55 .comment-rating .yellow {
  color: #FFCC36;
}
.sec-s55 .comment-rating .green {
  color: #5cb85c;
}
.sec-s55 .comment-text p {
  font-family: 'Open Sans', sans-serif;
  color: #a8a8a8;
  font-size: 14px;
}
.sec-s55 .comment-link a {
  font-family: 'Open Sans', sans-serif;
  color: #181818;
  font-size: 14px;
  padding: 2px 10px 2px 10px;
  margin: 6px 0px 3px 0px;
  border-left: 1px solid #f0f0f0;
}
.sec-s55 .comment-link a:hover {
  color: #a8a8a8;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .comment-img img {
    padding: 0;
  }
}
